<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h4 text-center *ngFor="let record of overall | async">
    Overall: {{record.$value}}
  </h4>
  <ion-list>
    <ion-list-header>
      <p item-start>Opponent</p>
      <p item-end>Time/Result</p>
    </ion-list-header>
    <ion-item *ngFor="let game of schedule | async">
      <h4>{{game.opponent}}</h4>
      <p>{{game.location}}</p>
      <h4 item-end>{{game.time}}</h4>
    </ion-item>
  </ion-list> 
</ion-content>
